---
layout: default
title: Achievements
---

<h1>My Achievements</h1>

{% assign achievements_categories = site.achievement_categories %}
{% for category in achievements_categories %}
  <h2>{{ category[1].title }}</h2>
  
  {% assign subcategories = category[1].subcategories %}
  <p>Subcategories: {{ subcategories | size }}</p>

  {% if subcategories.size > 0 %}
    <h3>Subcategories:</h3>
    <ul>
      {% for subcategory in subcategories %}
        <li>{{ subcategory | capitalize | replace: '_', ' ' }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No subcategories available.</p>
  {% endif %}
  
{% endfor %}

<footer>
  <p>&copy; {{ site.time | date: '%Y' }} Allen's Blog. All rights reserved.</p>
</footer>
