<div id="blog-info-modal" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="modal-close">&times;</span> <!-- 닫기 버튼 -->
    <h2>블로그 소개</h2>
    <section>
      <h3>목적</h3>
      <p>제 블로그는 다양한 분야의 지식들을 열심히 소개하는 것이 목표입니다!</p>
    </section>
    <section>
      <h3>주로 다룰 주제</h3>
      <p>인지과학, 신경과학, 물리학, 프로그래밍 등 다양한 분야를 다뤄보려고 노력할 생각입니다..!</p>
    </section>
      <h3>시리즈 연재</h3>
      <p>특정 주제에 대해 깊이 있게 탐구할 수 있도록 포스트들을 시리즈로 최대한 엮어보려고 구상하고 있어요.</p>
    </section>
  </div>
</div>
