<p>&copy; {{ site.time | date: '%Y' }} Allen's Blog. All rights reserved.</p>
<button id="blog-info-btn" class="modal-button">블로그 소개</button>
<div id="blog-info-modal" class="modal">
  <div class="modal-content">
    <span class="modal-close">&times;</span>
    <h2>블로그 소개</h2>
    <section>
      <h3>목적</h3>
      <p>이 블로그는 다양한 분야의 지식과 통찰을 열심히 공유하는 것이 목표입니다!</p>
    </section>
    <section>
      <h3>주요 주제</h3>
      <p>인지과학, 신경과학, 물리학, 프로그래밍 등 다양한 분야를 다뤄보려고 노력할 생각입니다..!</p>
    </section>
    <section>
      <h3>시리즈 연재</h3>
      <p>특정 주제에 대해 깊이 있게 탐구할 수 있도록 포스트들을 시리즈로 구성하려고 구상하고 있어요.</p>
    </section>
  </div>
</div>