<header>
  <div class="blog-title">
    <h1>{{ site.title }}</h1>
    {% if site.description %}
      <p>{{ site.description }}</p>
    {% endif %}
  </div>
  
  <nav>
    <ul>
      {% for item in site.navigation %}
        <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  
  {% if page.layout == 'post' or page.layout == 'achievements' %}
    {% if site.categories.size > 0 %}
      <div class="categories">
        <h2>Categories:</h2>
        <ul>
          {% for category in site.categories %}
            <li>
              <a href="{{ site.baseurl }}/categories/{{ category | first | slugify }}/">
                {{ category | first }} ({{ category | last | size }})
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endif %}
</header>