/* "PF스타더스트" 폰트 정의 */
@font-face {
  font-family: 'PFStardust';
  src: url('/assets/fonts/PFStardust 3.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFStardust';
  src: url('/assets/fonts/PFStardust 3.0 Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PFStardust';
  src: url('/assets/fonts/PFStardust 3.0 ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* 공통 스타일 */
body {
  font-family: 'PFStardust', monospace;
  line-height: 1.6;
  color: #A8E1DB; /* 본문 텍스트 색상 */
  background-color: #EAF4FB; /* 배경색 */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  image-rendering: pixelated; /* 이미지 픽셀화 */
}

header {
  background-color: #EAF4FB;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #A8E1DB;
}

h1, h2, h3 {
  font-weight: bold;
  color: #C1B3F2;
}

a {
  color: #FFCBDF;
  text-decoration: none;
}

a:hover {
  color: #C1B3F2;
}

.post-list {
  list-style-type: none;
  padding: 0;
}

.post-meta {
  color: #FFCBDF;
  font-size: 0.9em;
}

footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #A8E1DB;
  text-align: center;
  font-size: 0.9em;
}

.search-container {
  position: relative;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#search-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #A8E1DB;
  background-color: #EAF4FB;
  color: #A8E1DB;
  font-family: 'PFStardust', monospace;
  font-size: 14px;
}

#search-results {
  position: absolute;
  background: #EAF4FB;
  width: 100%;
  max-width: 300px;
  border: 2px solid #A8E1DB;
  border-top: none;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  display: none;
}

#search-results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#search-results li {
  padding: 10px;
  border-bottom: 1px solid #A8E1DB;
}

#search-results a {
  color: #FFCBDF;
  text-decoration: none;
}

#search-results a:hover {
  color: #C1B3F2;
}

#search-results mark {
  background-color: #C1B3F2;
  color: #EAF4FB;
  padding: 2px;
}

.category, .tags {
  font-size: 0.8em;
  color: #FFCBDF;
  display: block;
  margin-top: 5px;
}

#toc {
  background-color: #EAF4FB;
  border: 2px solid #A8E1DB;
  padding: 15px;
  margin-bottom: 20px;
}

#toc ul {
  list-style-type: none;
  padding-left: 20px;
}

#toc a {
  color: #FFCBDF;
  text-decoration: none;
}

#toc a:hover {
  color: #C1B3F2;
}

/* 한글 폰트 스타일 */
.korean-text {
  font-family: 'PFStardust', monospace;
}
